.section-title
    font-weight: 700
    font-size: 48px
    line-height: 120%
    padding-top: 50px
    padding-bottom: 80px

    +mw(1150)
        font-size: 40px
        padding-bottom: 60px

    +mw(750)
        padding-bottom: 25px

    +mw(600)
        font-size: 18px
        padding-top: 15px
