.section-title
    font-weight: 700
    font-size: 48px
    line-height: 120%
    padding-top: 50px
    padding-bottom: 50px

    +mw(1150)
        font-size: 40px
        padding-bottom: 60px

    +mw(750)
        padding-bottom: 25px

    +mw(600)
        font-size: 18px
        padding-top: 15px

.section-subtitle
    font-size: 32px
    font-weight: 700
    line-height: 120%
    padding-bottom: 20px

    +mw(1150)
        font-size: 28px

    +mw(750)
        font-size: 14px


.mob
    display: none !important

    +mw(750)
        display: block !important

.desktop


    +mw(750)
        display: none !important

.bolder
    font-weight: bolder


.hidden
    display: none !important


._error-txt
    font-size: 8px
    font-weight: 600
    line-height: 130%
    color: #EC4F53
    padding-left: 10px

._error-input
    border: 1px solid  #EC4F53

.nodescr

    
    text-decoration: underline
    color: #b4b100
    cursor: pointer

    &:hover
        color: #a7a400

