:root {
    --btn-yellow: #FED700;
    --btn-yellow--h: #FFEC85;
    --btn-yellow--a: #FFC700;
    --c-font: #1F1F1F;
    --c-active-grey: #8E8E8E;
    --c-hover-grey: #A4A7B7;

    --c-hover-footer: #A0AAC2;
    --c-active-footer: #8E8E8E;
}

