.btn
    padding: 12px 20px
    font-weight: 700
    font-size: 16px
    cursor: pointer
    border-radius: 8px
    background: var(--btn-yellow)
    transition: .2s
    display: inline-flex
    text-align: center

    +mw(1150)
        padding: 9px 16px
        font-size: 14px
        ine-height: 100%

    +mw(750)
        font-size: 12px
        padding: 9px 5px

    &:hover
        background: var(--btn-yellow--h)

