main.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item О компании

    .aboutPage

        h1.section-title О компании

        .articlePage__text.articlePage__text-prev Группа компаний АвтоЗапчастьЦентр — компания, которая существует на рынке продаж автозапчастей для дорожно-транспортной техники с 2006 года. Высокое Качество в короткий срок за минимальные деньги — цены ниже рыночных, на уровне заводов-изготовителей, максимально быстрая поставка оборудования, запчастей, консультации в любое время. Вы работаете, мы решаем Ваши проблемы быстро и качественно.

        figure.articlePage__img
            img(src="images/about/1.jpg" alt="Трактор")

        .articlePage__text.articlePage__text-main.
            <p>Уже более 17 лет мы:</p>
            <ul>
                <li>Огромный выбор запасных частей предлагаемых к поставке.
                <li>Возможность закупки новейших европейских разработок, постоянная связь         с поставщиками.
                <li>Быстрая доставка товара, осуществляется по всей территории России.
                <li>Высокое качество запчастей и оборудования купленного у нас.
                <li>Выполнение гарантированных обязательств со стороны компании, на протяжении всего периода эксплуатации.
                <li>Поставка запасных частей во все регионы России
                <li>Индивидуальное отношение к каждому покупателю, онлайн поддержка клиентов.
            </ul>
        
    .section-subtitle.similarArticlesList-title Благодарственные письма
    .similarArticlesList
        include ../layout/thankletter.pug
        include ../layout/thankletter.pug
        include ../layout/thankletter.pug
