main.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item Блог

    h1.section-title Статьи

    include ../layout/articles-list.pug
