.article
    a.article__img(href="/article.html")
        img(src="/images/articles/art.png" alt="Трактор")


    .article__info

        .article__date-wrap
            svg(width="20" height="20")
                use(xlink:href="/images/sprite.svg#date")

            span.article__date 20.07.2020

        a.article__title(href="/article.html") Что такое погрузчик?

        .article__previewText Погрузчики – это основное складское оборудование, которое значительно облегчает подъём и перевозку грузов на небольшие расстояния.
