.logos.logos-text
    a.logo
        span.logo__name Б-10
    a.logo
        span.logo__name ДЭТ-250
    a.logo
        span.logo__name ДЭТ-320
    a.logo
        span.logo__name Т-130
    a.logo
        span.logo__name Т-170
