main.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item Каталог
        span.breadcrumbs-divider /
        span.breadcrumbs-item Корзина
        span.breadcrumbs-divider /
        span.breadcrumbs-item Оформление заказа

    .basketPage.empty

        .basketPage__basket
        
            .basket__wrap
                h2.basket__title Корзина

                .basket

                    .basket__item
                        .basket__img
                            img(src="/images/articles/1.jpeg")

                        .basket__info
                            .basket__price__mobWrap
                                span.basket__price 11 940 ₽
                                .basket__mult
                                    span.basket__mult-quant 1
                                    span.basket__mult-sign х
                                    span.basket__mult-price 11940 ₽
                            h4.basket__name Гидронасос 313.3.55.557.403 регулируемый аксиально-поршневой шлицевой с левым вращением вала
                            .basket__art
                                span Артикул:
                                span.basket__art-name 16-08-545
                            span.basket__comp Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
                        .basket__quant
                            .basket__quant-inner
                                .item-info__quant
                                    .item-info__quant-input
                                        button.quant-minus.quant-sign -
                                        input.quant-num(type="text" value="1" data-max-count="20")
                                        button.quant-plus.quant-sign +

                                    span.basket__priceOne.desktop 11 940 ₽/ шт.

                                svg.basket__del.mob(width="24" height="24")
                                    use(xlink:href="images/sprite.svg#del")

                        span.basket__price.desktop 11 940 ₽

                    .basket__item
                        .basket__img
                            img(src="/images/catalog/10.png")

                        .basket__info
                            .basket__price__mobWrap
                                span.basket__price 11 940 ₽
                                .basket__mult
                                    span.basket__mult-quant 1
                                    span.basket__mult-sign х
                                    span.basket__mult-price 11940 ₽
                            h4.basket__name Фонарь контрольной лампы для О15 (12В, 24В) 121.380310 / 124.3803.010
                            .basket__art
                                span Артикул:
                                span.basket__art-name 16-08-545
                            span.basket__comp Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
                        .basket__quant
                            .basket__quant-inner
                                .item-info__quant
                                    .item-info__quant-input
                                        button.quant-minus.quant-sign -
                                        input.quant-num(type="text" value="1" data-max-count="20")
                                        button.quant-plus.quant-sign +

                                    span.basket__priceOne.desktop 11 940 ₽/ шт.

                                svg.basket__del.mob(width="24" height="24")
                                    use(xlink:href="images/sprite.svg#del")

                        span.basket__price.desktop 11 940 ₽

                    .basket__item
                        .basket__img
                            img(src="/images/catalog/2.png")

                        .basket__info
                            .basket__price__mobWrap
                                span.basket__price 11 940 ₽
                                .basket__mult
                                    span.basket__mult-quant 1
                                    span.basket__mult-sign х
                                    span.basket__mult-price 11940 ₽

                            h4.basket__name Каток однобортный 
                            .basket__art
                                span Артикул:
                                span.basket__art-name 16-08-545
                            span.basket__comp Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
                        .basket__quant
                            .basket__quant-inner
                                .item-info__quant
                                    .item-info__quant-input
                                        button.quant-minus.quant-sign -
                                        input.quant-num(type="text" value="1" data-max-count="20")
                                        button.quant-plus.quant-sign +

                                    span.basket__priceOne.desktop 11 940 ₽/ шт.

                                svg.basket__del.mob(width="24" height="24")
                                    use(xlink:href="images/sprite.svg#del")

                        span.basket__price.desktop 11 940 ₽

                .basket__empty
                    .basket__empty-content.desktop.
                        В  вашей корзине нет товаров. <br>
                        Найдите то, что Вам необходимо в <a href="/catalog.html">каталоге</a>

                    
                    .basket__empty-content.mob.basket__empty-mob
                        .basket__empty-mob__info
                            img.basket__empty-mob__img(src="/images/basket/find.png")
                            h2.basket__empty-mob__title В вашей корзине нет товаров
                            p.basket__empty-mob__text Найдите то, что вам необходимо в каталоге

                        a.btn.basket__empty-mob__btn(href="/catalog.html") Вернуться в каталог



        .basketPage__form.basket-form
            .mainForm__content

                .form__totalCostBlock

                    .form__total-title.section-subtitle.mob Итоговая стоимость
                    .form__bottom.mob

                        .form__prePrice.form__bottom-line
                            span.form__bottom-text Стоимость
                            span.form__bottom-num 36 000 ₽ 

                        .form__discount.form__bottom-line
                            span.form__bottom-text Скидка
                            span.form__bottom-num Без скидки
                        
                        .form__total.form__bottom-line
                            span.form__bottom-text Итого
                            span.form__bottom-num 36 000 ₽ 
                .form__wrap
                    .form__title.section-subtitle Введите личные данные
                    form.form(method="post") 
                        .form__input-line
                            .form__input-wrap
                                input.form__input(type="text" name="name" placeholder="Имя*")
                            .form__input-wrap
                                input.form__input(type="text" name="surname" placeholder="Фамилия")
                        .form__input-wrap
                                input.form__input(type="text" name="company" placeholder="Название компании")
                        .form__input-wrap
                                input.form__input(type="text" name="phone" placeholder="+7 (900) 000-00-00*")
                        .form__input-wrap
                                input.form__input(type="text" name="email" placeholder="Адрес электронной почты")
                        

                        textarea.form__textarea(name="message" placeholder="Комментарий")

                        label.form__attach
                            input.form__attach-input(type="file" name="file")
                            .form__attach-title 
                                img(src="/images/form/clip.png")
                                span Прикрепить документы
                            span.form__attach-text
                        
                        .form__totalCostBlock
                            .form__total-title.section-subtitle.desktop Итоговая стоимость

                            .form__bottom.desktop

                                .form__prePrice.form__bottom-line
                                    span.form__bottom-text Стоимость
                                    span.form__bottom-num 36 000 ₽ 

                                .form__discount.form__bottom-line
                                    span.form__bottom-text Скидка
                                    span.form__bottom-num Без скидки
                                
                                .form__total.form__bottom-line
                                    span.form__bottom-text Итого
                                    span.form__bottom-num 36 000 ₽ 

                            input.form__btn.btn(type="submit" value="Оформить заказ")

                    span.form__footnote Для быстрого заказа введите номер телефона, оператор свяжется с Вами

            .modal__content.thanksWindow__content.hidden
                img.thanksWindow__img(src="/images/form/green.png")
                h1.thanksWindow__title Заказ №129056
                p.thanksWindow__text Благодарим Вас за оформление заказа. Менеджер свяжется с Вами в течение суток
