
.catalog.desktop
    .catalog-slider
        .catalog-slider__arr-top
            svg(width="26" height="16")
                use(xlink:href="images/sprite.svg#arr")
        .catalog-slider__arr-bottom
            svg(width="26" height="16")
                use(xlink:href="images/sprite.svg#arr")
        .catalog-slider__inner.swiper
            .swiper-wrapper
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/1.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/2.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/3.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/4.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/5.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/6.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/7.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/8.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/9.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/10.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/11.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/7.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/8.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/9.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/10.png", alt="")
                a(href="").catalog-slider__item.swiper-slide
                    .catalog-slider__item-img
                        img(src="images/catalog/logo/11.png", alt="")
    .catalog-sections
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/1.png", alt="")
            p.catalog-section__name Бульдозер
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/2.png", alt="")
            p.catalog-section__name Экскаваторы
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/3.png", alt="")
            p.catalog-section__name ЧТЗ
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/4.png", alt="")
            p.catalog-section__name Самосвалы
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/5.png", alt="")
            p.catalog-section__name Фронтальные погрузчики
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/6.png", alt="")
            p.catalog-section__name Автогрейдеры
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/7.png", alt="")
            p.catalog-section__name Гусеничные краны
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/8.png", alt="")
            p.catalog-section__name Мини-погрузчики
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/9.png", alt="")
            p.catalog-section__name Экскаваторы-погрузчики
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/10.png", alt="")
            p.catalog-section__name Фильтры для ТО
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/11.png", alt="")
            p.catalog-section__name Подшипники
        a(href="").catalog-section
            .catalog-section__img
                img(src="images/catalog/12.png", alt="")
            p.catalog-section__name Детали двигателя