h1.section-subtitle.mob Техника

.logos.logos-text.mob
    a.logo
        span.logo__name Бульдозеры
    a.logo
        span.logo__name Гидромолоты
    a.logo
        span.logo__name ЧТЗ
    a.logo
        span.logo__name Экскаваторы
    a.logo
        span.logo__name Самосвалы
    a.logo
        span.logo__name Гусеничные краны
    a.logo
        span.logo__name Автогрейдеры
    a.logo
        span.logo__name Фронтальные погрузчики
    a.logo
        span.logo__name Мини-погрузчики
    a.logo
        span.logo__name Экскаваторы-погрузчики
    a.logo
        span.logo__name Фильтры для ТО
    a.logo
        span.logo__name Детали двигателя
    a.logo
        span.logo__name Подшипники