.section-subtitle.mob Бренды

.logos.mob
    a.logo
        .logo-img
            img(src="images/catalog/logo/1.png")
        span.logo__name Caterpillar
    a.logo
        .logo-img
            img(src="images/catalog/logo/2.png")
        span.logo__name Komatsu
    a.logo
        .logo-img
            img(src="images/catalog/logo/3.png")
        span.logo__name Hitachi
    a.logo
        .logo-img
            img(src="images/catalog/logo/1.png")
        span.logo__name ДСТ Урал
    a.logo
        .logo-img
            img(src="images/catalog/logo/2.png")
        span.logo__name JCB
    a.logo
        .logo-img
            img(src="images/catalog/logo/6.png")
        span.logo__name Volvo
    a.logo
        .logo-img
            img(src="images/catalog/logo/7.png")
        span.logo__name Caterpillar
    a.logo
        .logo-img
            img(src="images/catalog/logo/8.png")
        span.logo__name Komatsu
    a.logo
        .logo-img
            img(src="images/catalog/logo/9.png")
        span.logo__name Hitachi
    a.logo
        .logo-img
            img(src="images/catalog/logo/10.png")
        span.logo__name ДСТ Урал
    a.logo
        .logo-img
            img(src="images/catalog/logo/11.png")
        span.logo__name Caterpillar