.catalog-slider--mob
    .catalog-slider__inner--mob.swiper
        .swiper-wrapper
            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/1.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/2.png", alt="")
            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/3.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/4.png", alt="")
            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/5.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/6.png", alt="")

            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/7.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/8.png", alt="")

            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/9.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/10.png", alt="")

            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/11.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/7.png", alt="")

            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/8.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/9.png", alt="")

            .catalog-slider__double.swiper-slide
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/10.png", alt="")
                a(href="").catalog-slider__item
                    .catalog-slider__item-img
                        img(src="/images/catalog/logo/11.png", alt="")