main.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item Каталог

    h1.section-title Бульдозеры
    include ../layout/arts.pug
    include ../layout/products.pug
