main.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item Каталог

    h1.section-title Каталог
    include ../layout/catalog.pug
    include ../layout/products.pug

                


