main.wrapper

    h1.section-title.extra__title Дополнительно
    a.extra__link(href="about.html") О компании
    a.extra__link(href="articles-list.html") Статьи
    a.extra__link(href="contacts.html") Контакты