footer.footer
    .footer-top.wrapper
        .footer-top__column
            .footer-top__title Поиск товаров <br> по каталогу
            .footer-top__search
                input.footer-top__search-input(type="text" name="text" class="search" placeholder="Введите название товара...")
                span.footer-top__search-btn
                    svg(width="21" height="25")
                        use(xlink:href="images/sprite.svg#search")
            .footer-top__soc
                a.footer-top__soc-item(href="https://google.com" target="_blank" title="Написать в Телеграмм")
                        svg(width="26" height="28")
                            use(xlink:href="images/sprite.svg#tg-white")
                a.footer-top__soc-item(href="https://google.com" target="_blank" title="Написать в Ватсап")
                    svg(width="25" height="28")
                        use(xlink:href="images/sprite.svg#wa-white")


        .footer-top__column 
            .footer-top__title Интернет-магазин
            ul.footer-top__list
                li.footer-top__item
                    a(href="/catalog.html") Каталог
                li.footer-top__item
                    a(href="") Бренды 
                li.footer-top__item
                    a(href="") Техника
                li.footer-top__item
                    a(href="") Спец. предложения

        .footer-top__column 
            .footer-top__title Компания
            ul.footer-top__list
                li.footer-top__item
                    a(href="") О компании
                li.footer-top__item
                    a(href="") Блог 
                li.footer-top__item
                    a(href="") Контакты

        .footer-top__column 
            .footer-top__title Контакты
            ul.footer-top__list
                li.footer-top__item
                    a.footer-top__item-icon(href="tel: +79227363636") 
                        svg(width="20" height="20")
                            use(xlink:href="images/sprite.svg#tel")
                        span +7 (922) 736-36-36
                        
                li.footer-top__item
                    a.footer-top__item-icon(href="mailto: info@speczapchasti.com ")
                        svg(width="20" height="20")
                            use(xlink:href="images/sprite.svg#mail")
                        span info@speczapchasti.com 
                li.footer-top__item
                    a.footer-top__item-icon(href="")
                        svg(width="28" height="28")
                            use(xlink:href="images/sprite.svg#address") 
                        span Пункт выдачи: г, Челябинск, ул. Рождественского, д.13, оф. 429
        
        

    .footer-bottom.wrapper
        .footer-bottom__copyright © 2023 АвтоЗапчастьЦентр
        .footer-bottom__links
            a(href="http://www.speczapchasti.com" target="_blank") Конфиденциальность

            a(href="http://www.speczapchasti.com" target="_blank") Оферта

        .footer-bottom__iconica
            a(href="http://iconica.site" target="_blank") Разработано в ICONICA.SITE

        

footer.footer-mob.wrapper
    a.footer-mob__item.footer-active
        svg(width="28" height="28")
            use(xlink:href="images/sprite.svg#home")
        span Главная
    a.footer-mob__item(href="/catalog.html")
        svg(width="28" height="28")
            use(xlink:href="images/sprite.svg#catalog")
        span Каталог
    a.footer-mob__item.footer-basket
        svg(width="28" height="32")
            use(xlink:href="images/sprite.svg#basket-mob")
        span Корзина
    a.footer-mob__item
        svg(width="28" height="28")
            use(xlink:href="images/sprite.svg#contacts")
        span Контакты
    a.footer-mob__item
        svg(width="28" height="28")
            use(xlink:href="images/sprite.svg#more")
        span Ещё

script(src="libs/swiper-bundle.min.js")
//- script(src="libs/fslightbox.js")
//- script(src="libs/imask.js")
script(src="scripts/main.js")