footer.footer
    .footer__subscribe.subscribe.container
        span.subscribe__text Подписывайтесь на нас:
        .subscribe__icons
            span 
                a(href="#")
                    svg(style="padding-top: 3px;")
                        use(xlink:href="images/sprite.svg#yt")
            span 
                a(href="#")
                    svg
                        use(xlink:href="images/sprite.svg#fb")
            span 
                a(href="#")
                    svg(style="padding-top: 3px;")
                        use(xlink:href="images/sprite.svg#vk")
            span 
                a(href="#")
                    svg
                        use(xlink:href="images/sprite.svg#ok")
            span 
                a(href="#")
                    svg
                        use(xlink:href="images/sprite.svg#ig")

    .footer__bottom.container
        .footer__credits
            span.footer__copyright © 2021 «Златоустовское телевидение»
            span.footer__politics 
                a(href="#") Политика конфиденциальности

        .footer__xpage
            span 
                a(href="https://www.xpage.ru/", target="_blank")
                    svg
                        use(xlink:href="images/sprite.svg#xpage")

script(src="libs/air-datepicker.js") 
script(src="scripts/main.js") 