header.header.container

    .header__top
        button.btn.header__top-btn Предложить новость
        .header__top-right
            a.header__top-phone(href="tel:8(3513)65-17-11") 8(3513)65-17-11
            span.header__top-search
                svg
                    use(xlink:href="images/sprite.svg#search") 
    .header__bottom
        
        nav.header__menu.menu
            .menu__mob
                span.menu__mob-line
                span.menu__mob-line
                span.menu__mob-line
            ul.menu__list
                li.menu__item 
                    a(href="#") Новости
                li.menu__item
                    a(href="#") Телепроекты
                li.menu__item 
                    a(href="#") Реклама
                li.menu__item.more 
                    a(href="#") Онлайн
                        ul.menu__sublist
                            li.menu__subitem Эфиры
                            li.menu__subitem Трансляции
                            li.menu__subitem Камеры города
                li.menu__item 
                    a(href="#") Программа передач
                li.menu__item.more 
                    a(href="#") Еще
                        ul.menu__sublist
                            li.menu__subitem Команда
                            li.menu__subitem Контакты
                            li.menu__subitem Лицензия
        .header__subscribe.subscribe
            span.subscribe__text Подписывайтесь на нас:
            .subscribe__icons
                span 
                    a(href="#")
                        svg(style="padding-top: 3px;")
                            use(xlink:href="images/sprite.svg#yt")
                span 
                    a(href="#")
                        svg
                            use(xlink:href="images/sprite.svg#fb")
                span 
                    a(href="#")
                        svg(style="padding-top: 3px;")
                            use(xlink:href="images/sprite.svg#vk")
                span 
                    a(href="#")
                        svg
                            use(xlink:href="images/sprite.svg#ok")
                span 
                    a(href="#")
                        svg
                            use(xlink:href="images/sprite.svg#ig")



