

header.header.wrapper
    .header-top
        .header-top__address
            .header-top__address-tooltip
                span Пункт выдачи заказов

            svg(width="21" height="21")
                use(xlink:href="images/sprite.svg#address")

            p Челябинск, ул. Рождественского,д.13, офис 429 
        nav.header-top__nav
            ul.header-top__list
                li.header-top__item
                    a(href="#") Главная
                li.header-top__item
                    a(href="/catalog.html") Каталог
                li.header-top__item
                    a(href="#") О компании
                li.header-top__item
                    a(href="#") Доставка
                li.header-top__item
                    a(href="#") Оплата
                li.header-top__item
                    a(href="#") Блог
                li.header-top__item
                    a(href="#") Контакты

        .header-top__contacts
            a.header-top__soc(href="google.com" target="_blank" title="Написать в Телеграмм")
                svg(width="33" height="35")
                    use(xlink:href="images/sprite.svg#tg")
            a.header-top__soc(href="google.com" target="_blank" title="Написать в Ватсап")
                svg(width="32" height="35")
                    use(xlink:href="images/sprite.svg#wa")

            button.btn.header-top__btn.modal-trigger Заказать звонок

    .header-bottom
        .header-bottom__logo
            a(href="/")
                img(src="/images/header/logo.png")

        .header-bottom__pad-soc
            a.header-bottom__pad-soc-item(href="google.com" target="_blank" title="Написать в Телеграмм")
                svg(width="26" height="28")
                    use(xlink:href="images/sprite.svg#tg")
            a.header-bottom__pad-soc-item(href="google.com" target="_blank" title="Написать в Ватсап")
                svg(width="25" height="28")
                    use(xlink:href="images/sprite.svg#wa")



        .header-bottom__catalog-btn.btn
            svg(width="19" height="19")
                use(xlink:href="images/sprite.svg#cat-icon")
            span.header-bottom__catalog-btn-text Каталог

        .header-bottom__search
            input.header-bottom__search-input(type="text" name="text" class="search" placeholder="Введите название товара...")
            span.header-bottom__search-btn
                svg(width="21" height="25")
                    use(xlink:href="images/sprite.svg#search")

        .header-bottom__personal
            .header-bottom__personal-item
                svg(width="24" height="26")
                    use(xlink:href="images/sprite.svg#tel")
                span.header-bottom__personal-item-text Позвонить
            .header-bottom__personal-item 
                svg(width="28" height="23")
                    use(xlink:href="images/sprite.svg#mail")
                span.header-bottom__personal-item-text Написать
            .header-bottom__personal-item
                svg(width="28" height="29")
                    use(xlink:href="images/sprite.svg#basket")
                span.header-bottom__personal-item-text Корзина

        .header-bottom__mob-soc
            a.header-bottom__pad-soc-item(href="google.com" target="_blank" title="Написать в Телеграмм")
                svg(width="26" height="28")
                    use(xlink:href="images/sprite.svg#tg")
            a.header-bottom__pad-soc-item(href="google.com" target="_blank" title="Написать в Ватсап")
                svg(width="25" height="28")
                    use(xlink:href="images/sprite.svg#wa")

