.item.wrapper

    .breadcrumbs
        span.breadcrumbs-item Главная
        span.breadcrumbs-divider /
        span.breadcrumbs-item Каталог
        span.breadcrumbs-divider /
        span.breadcrumbs-item Бульдозеры
        span.breadcrumbs-divider /
        span.breadcrumbs-item ЧТЗ
        span.breadcrumbs-divider /
        span.breadcrumbs-item ДЭТ-320


    .item-main-wrap
        .item-main-topMob.mob
            .item-info__art Артикул: 16-08-140сп
            h1.item-info__name Шестерни привода генератора
            .item-info__suit Подходит для: бульдозеров ДЭТ-250, ДЭТ-320. 
            .item-info__country Страна производитель: Россия.

        .item-images.swiper
            .swiper-wrapper
                a.item-image.swiper-slide(data-fslightbox="gallery" href="images/item/10.png")
                    img(src="images/item/10.png", alt="Шестерни привода генератора")
                a.item-image.swiper-slide(data-fslightbox="gallery" href="images/item/3.png")
                    img(src="images/item/3.png", alt="Шестерни привода генератора")
                a.item-image.swiper-slide(data-fslightbox="gallery" href="images/item/item.png")
                    img(src="images/item/item.png", alt="Шестерни привода генератора")
                a.item-image.swiper-slide(data-fslightbox="gallery" href="images/item/1.jpeg")
                    img(src="images/item/1.jpeg", alt="Шестерни привода генератора")

        .item-info

            .item-info__art.desktop Артикул: 16-08-140сп
            h1.item-info__name.desktop Шестерни привода генератора
            .item-info__suit.desktop Подходит для: бульдозеров ДЭТ-250, ДЭТ-320. 
            .item-info__country.desktop Страна производитель: Россия.
            .item-info__subtitle.cost-subtitle Стоимость за 1 шт. :
            .item-info__cost 11 940 ₽
            .item-info__subtitle.quant-subtitle Количество:
            .item-info__quant
                .item-info__quant-input.desk
                    button.quant-minus.quant-sign -
                    input.quant-num(type="text" value="1" data-max-count="20")
                    button.quant-plus.quant-sign +
                button.item-info__quant-btn.btn
                    span Добавить в корзину

            .item-info__drop
                .item-info__drop-title Описание
                .item-info__drop-text-wrap
                    .item-info__drop-text.
                        Шестерни привода генератора есть в наличии на нашем складе. 
                        Вы можете приобрести оригинал запчасти или аналог в компании «АвтоЗапчастьЦентр». Получить консультацию специалиста можно, оставив заявку на сайте, либо позвонив по контактному номеру телефона. Гарантия на товар – 12 месяцев. Доставку осуществляем 
                        по всей территории России, менеджеры подберут транспортную компанию, удобную для вас и выгодную по стоимости доставки. Обращаем Ваше внимание, стоимость товара носит информационный характер. Подробности уточняйте у менеджера.
            .item-info__drop.char
                .item-info__drop-title Характеристики
                .item-info__drop-text-wrap
                    .item-info__drop-text
                        .char-line
                            span.char-title Страна изготовитель:
                            span.char-text Россия;
                        .char-line
                            span.char-title Изготовитель:
                            span.char-text Челябинский тракторный завод;
                        .char-line
                            span.char-title Срок гарантии:
                            span.char-text 6 месяцев;

    .item-secondary 

        .item-coop
            h2.item-coop__title Сотрудничать с нами выгодно
            .item-coop__item
                h3.item-coop__subtitle Поможем найти нужные запчасти
                p.item-coop__text Наши технические специалисты могут найти нужные запчасти даже по фотографиям и минимальной информации. Просто напишите нам в любой мессенджер
            .item-coop__item
                h3.item-coop__subtitle Поможем расценить заявку
                p.item-coop__text Вы можете отправить заявку в любом виде, даже написанную от руки. От вас нужна только точная модель техники
            .item-coop__item
                h3.item-coop__subtitle Отгружаем заказы в день оформления
                p.item-coop__text Потому что знаем, сколько стоит 1 день простоя техники
            .item-coop__item
                h3.item-coop__subtitle Гарантируем 100% комплектацию
                p.item-coop__text И отгружаем только в полном объеме
            .item-coop__item
                h3.item-coop__subtitle Помогаем в сложных ситуациях
                p.item-coop__text Мы готовы помочь в особо сложных случаях и беремся за заказы, которые крупные компании отказываются выполнять
            .item-coop__item
                h3.item-coop__subtitle Привозим импортные запчасти
                p.item-coop__text Мы оперативно можем привезти запчасти, которых нет в России. Сотрудничество с нами - это надежное и выгодное решение для вашего бизнеса. Мы готовы помочь в любых вопросах и обеспечить быструю и качественную доставку запчастей.

        .item-delivery
            iframe(src="https://widgets.dellin.ru/calculator?derival_to_door=off&arrival_to_door=on&disabled_calculation=off&insurance=0&package=1" scrolling="no" frameborder="0")
