.logos
    .logo
        img(src="images/catalog/logo/1.png")
    .logo
        img(src="images/catalog/logo/2.png")
    .logo
        img(src="images/catalog/logo/3.png")
    .logo
        img(src="images/catalog/logo/1.png")
    .logo
        img(src="images/catalog/logo/2.png")
    .logo
        img(src="images/catalog/logo/6.png")
    .logo
        img(src="images/catalog/logo/7.png")
    .logo
        img(src="images/catalog/logo/8.png")
    .logo
        img(src="images/catalog/logo/9.png")
    .logo
        img(src="images/catalog/logo/10.png")
    .logo
        img(src="images/catalog/logo/11.png")