main.news-details.container
    .news-details__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
    .news-details__breadcrumbs Главная / Новости / Медицина 

    .news-details__item-meta
        .news-details__item-tags
            span.news__item-tag Медицина 
        .news-details__item-date 02/02/2021

    section.news
        h4.
            Ещё одна главная новость дня — с 8 февраля златоустовский 
            роддом возвращается к привычному формату работы. Госпитальную базу 
            для лечения больных коронавирусной инфекцией переводят в профильный режим. 
            Приказ Министерство здравоохранения Челябинской области выпустило 27 января.

        p.
            Напомним, перепрофилировать родильный дом решили в связи с ежедневным большим 
            приростом златоустовцев, заболевших ковид-19.  За это время лечение на госпитальной базе прошли 
            свыше 1000 пациентов.

        video( controls="controls", poster="images/news/news-2.png")
            source(src="vids/1.mp4") 

        
        strong Александр Дорофеев 
        span главный врач родильного дома г.Златоуста

        p.
            «На сегодняшний день в МПЦ находятся 46 больных. Большая часть из них будет переведена на базу 
            квартала Медик и меньшая часть – на базу долечивания, в район метзавода. В воскресенье к нам 
            приезжает дезостанция для обработки всех помещений. С 1 по 7 число проводится заключительная 
            дезинфекция всего родильного дома. С 8 числа мы начинаем принимать беременных и рожениц нашего 
            города и горнозаводской зоны».

        hr

        p.
            Подготовка к возвращению профильной деятельности больниц проводится тщательным образом. 
            Это полная дезинфекция помещений, забор ряда лабораторных анализов. И только после разрешения 
            всех инстанций медицинское учреждение поступает к работе. Златоуст — не единственный город, где 
            в связи со стабилизацией обстановки с коронавирусной инфекцией медицинские объекты возвращаются 
            к плановому приёму пациентов. Решение по сокращению коечных мест для больных ковидом принимается 
            оперативным штабом по борьбе с коронавирусной инфекцией при Правительстве Челябинской области. 
            Оставшиеся ковид-базы перейдут в прежний режим работы при условии улучшения ситуации.

        .news__meta
            .news__author
                span.news__meta-title Автор материала
                .news__author-name Иван Анатольев
            .news__tags
                span.news__meta-title Теги
                .news__tags-list Роддом / Вакцинация / Коронавирус
            .news__share
                span.news__meta-title Поделиться
                .news__share-icons
                    span 
                        a(href="#")
                            svg(style="padding-top: 3px;")
                                use(xlink:href="images/sprite.svg#yt")
                    span 
                        a(href="#")
                            svg
                                use(xlink:href="images/sprite.svg#fb")
                    span 
                        a(href="#")
                            svg(style="padding-top: 3px;")
                                use(xlink:href="images/sprite.svg#vk")
                    span 
                        a(href="#")
                            svg
                                use(xlink:href="images/sprite.svg#ok")
                    span 
                        a(href="#")
                            svg
                                use(xlink:href="images/sprite.svg#ig")



            
