.products

    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/promo/1.jpg")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/catalog/2.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину
    .product
        .product__img
            img(src="images/products/item.png")
        .product__info
            .product__name Насос водяной 16-08-140СП
            .product__art Артикул: 
                span 16-08-140сп
            .product__series Б10 ,  Бульдозеры ,  Т-130 ,  Т-170 ,  ЧТЗ
            .product__price Цена: 2700 р.
            .product__btn.btn 
                span Добавить в корзину