h1.section-title Специальные предложения

.promo
    .promo-slider
        .promo-slider__item
            img.promo-slider__item-img(src="/images/promo/1.jpg", alt="")
            .promo-slider__item-inner
                span.promo-slider__item-name Консультация специалиста
                h3.promo-slider__item-title Помощь в подборе запчастей
                span.promo-slider__item-btn.btn Оставить заявку
        .promo-slider__item
            img.promo-slider__item-img(src="/images/promo/2.jpg", alt="")
            .promo-slider__item-inner
                span.promo-slider__item-name Лучшее предложение
                h3.promo-slider__item-title Узнайте о наших спец. предложениях
                span.promo-slider__item-btn.btn Оставить заявку
