
.similarItems.wrapper
    h2.section-subtitle Похожие товары

    .similarProductsSlider.swiper 
        .swiper-wrapper

            include ../layout/product.pug
            include ../layout/product.pug
            include ../layout/product.pug
            include ../layout/product.pug